
<div class="modal-header">ChatBot
  <button class="closeButton" (click)="close()">x</button>
</div>
<div class="chat" #scrollMe [scrollTop]="scrollMe.scrollHeight">
<ng-container *ngFor="let message of messages | async">

  <div class="message" [ngClass]="{ 'from': message.sentBy === 'bot',
                                    'to':   message.sentBy === 'user' }">
    {{ message.content }}
  </div>

</ng-container>

</div>

<input class="textArea" [(ngModel)]="formValue" (keyup.enter)="sendMessage()" type="text">

<button class="sendButton" (click)="sendMessage()">Send</button>
